<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <!-- Payflow Pro Host Name. This is the host name for the PayPal Payment Gateway.
		
			For testing: 	pilot-payflowpro.paypal.com
			For production: payflowpro.paypal.com
		
			DO NOT use payflow.verisign.com or test-payflow.verisign.com!
		-->
    <add key="PAYFLOW_HOST" value="pilot-payflowpro.paypal.com" />
    <!-- Change TRACE value to "ON" to display any stack trace errors in the response message.-->
    <add key="TRACE" value="ON" />
    <!-- This is a LOG level tag. To switch on logging change the logger level from "OFF" to any of the following:
			a. DEBUG
			b. INFO
			c. WARN
			d. ERROR
			e. FATAL
			Example: <add key="LOG_LEVEL" value="DEBUG" />
	 	-->
    <add key="LOG_LEVEL" value="DEBUG" />
    <!-- Default of "logs\PayflowSDK.log" should create the file in AppDomain.CurrentDomain.BaseDirectory + "logs"
			 which would probably be bin\logs.			    	 
	     	 You can also enter the absolute path.
	     	 For Example: C:\Program Files\Payflow SDK for .NET\SamplesVB\bin\Debug\logs\PayflowSDK.log
	     	 Make sure the directory has the proper write permissions. 
	     -->
    <add key="LOG_FILE" value="C:\logs\PayflowSDK.log" />
    <!-- Log file filesize constant. -->
    <add key="LOGFILE_SIZE" value="10240000" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="ClientRoleProvider">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>